fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
requests
python-multipart
numpy
pillow
opencv-python
torch==2.5.1
torchvision==0.20.1
transformers==4.47.0
minio
mlflow
kafka-python
confluent-kafka
